div.slideshow-block
    div.slideshow-wrapper
        div.slideshow-field
            div.slideshow-field-wrapper
                div.slideshow-field__field-image
                    img(src="images/slideshow1.jpg")
                div.slideshow-field__field-content
                    p 一場親身體驗的展出
                    p 超越一場精彩的電影 
