div.banner-block_front-banner-block
  div.banner-field
    div.banner-field-wrapper
     div.banner-field__item.field-images
      img(src ="../images/bannerblock.jpg")
     div.banner-field__item.field-body
      p kaopdkoapkewjifewji
      p 落實使用者體驗結合互動設計概念
