div.block.article-list-block.article-list-block_article-list-block_02
    div.article-list-block-wrapper
        div.article-block-header
            div.article-block-title
                h2 See What's Up
                span 我們的動態
        div.article-block-content
            div.article-list.list-margin
                ul.article-list.row
                    li.article__item.article__item_1.col-lg-6.col-xs-12
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper.row
                                    div.content-wrapper.col-lg-4.col-md-4.col-sm-4.col-xs-12
                                        div.field__item.field-image
                                            img(src="../images/art01.jpg" width ="900px" height ="900px")
                                    div.content-wrapper.field-margin.col-lg-8.col-md-8.col-sm-8.col-xs-12.row.middle-xs
                                        div.wrapper
                                            div.field__item.field-title
                                                a(href ="/")
                                                    h3 感謝DigiLog聲響實驗室FRANK大大無私分享
                                            div.field__item.field-body
                                                p 感謝DigiLog聲響實驗室FRANK大大無私分享，如何從一個無法核銷的補助案，變成一場華山文清展，正所謂養兵千日用在一時
                                            div.field__item.field-createdate
                                                h4 03十月,2013
                    li.article__item.article__item_2.col-lg-6.col-xs-12
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper.row
                                    div.content-wrapper.col-lg-4.col-md-4.col-sm-4.col-xs-12
                                        div.field__item.field-image
                                            img(src="../images/art01.jpg" width ="900px" height ="900px")
                                    div.content-wrapper.field-margin.col-lg-8.col-md-8.col-sm-8.col-xs-12.row.middle-xs
                                        div.wrapper
                                            div.field__item.field-title
                                                a(href ="/")
                                                    h3 感謝DigiLog聲響實驗室FRANK大大無私分享
                                            div.field__item.field-body
                                                p 感謝DigiLog聲響實驗室FRANK大大無私分享，如何從一個無法核銷的補助案，變成一場華山文清展，正所謂養兵千日用在一時
                                            div.field__item.field-createdate
                                                h4 03十月,2013
                    li.article__item.article__item_3.col-lg-6.col-xs-12
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper.row
                                    div.content-wrapper.col-lg-4.col-md-4.col-sm-4.col-xs-12
                                        div.field__item.field-image
                                            img(src="../images/art01.jpg" width ="900px" height ="900px")
                                    div.content-wrapper.field-margin.col-lg-8.col-md-8.col-sm-8.col-xs-12.row.middle-xs
                                        div.wrapper
                                            div.field__item.field-title
                                                a(href ="/")
                                                    h3 感謝DigiLog聲響實驗室FRANK大大無私分享
                                            div.field__item.field-body
                                                p 感謝DigiLog聲響實驗室FRANK大大無私分享，如何從一個無法核銷的補助案，變成一場華山文清展，正所謂養兵千日用在一時
                                            div.field__item.field-createdate
                                                h4 03十月,2013
                    li.article__item.article__item_4.col-lg-6.col-xs-12
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper.row
                                    div.content-wrapper.col-lg-4.col-md-4.col-sm-4.col-xs-12
                                        div.field__item.field-image
                                            img(src="../images/art01.jpg" width ="900px" height ="900px")
                                    div.content-wrapper.field-margin.col-lg-8.col-md-8.col-sm-8.col-xs-12.row.middle-xs
                                        div.wrapper
                                            div.field__item.field-title
                                                a(href ="/")
                                                    h3 感謝DigiLog聲響實驗室FRANK大大無私分享
                                            div.field__item.field-body
                                                p 感謝DigiLog聲響實驗室FRANK大大無私分享，如何從一個無法核銷的補助案，變成一場華山文清展，正所謂養兵千日用在一時
                                            div.field__item.field-createdate
                                                h4 03十月,2013
        div.article-block-footer
            div.article-more-link.nav_more-link-button_01
                a.morelink(href="/")閱讀更多
