div.block.article-list-block.article-list-block_article-list-block_04
    div.article-list-block-wrapper
        div.article-block-header
            div.article-block-title
                //h2 服務項目 <br> What we do

        div.article-block-content
            div.article-list.list-margin
                ul.article-list.row
                    li.article__item.article__item_1.col-lg-3.col-md-3.col-xs-6
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper
                                    div.field__item.field-image
                                        img(src="../images/art01.jpg" width ="900px" height ="900px")
                                    div.field__item.field-title
                                        p article
                    li.article__item.article__item_1.col-lg-3.col-md-3.col-xs-6
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper
                                    div.field__item.field-image
                                        img(src="../images/art02.jpg" width ="900px" height ="900px")
                                    div.field__item.field-title
                                        p article
                    li.article__item.article__item_1.col-lg-3.col-md-3.col-xs-6
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper
                                    div.field__item.field-image
                                        img(src="../images/art03.jpg" width ="900px" height ="900px")
                                    div.field__item.field-title
                                        p article
                    li.article__item.article__item_1.col-lg-3.col-md-3.col-xs-6
                        div.node
                            div.field-content.field-margin
                                div.field-wrapper
                                    div.field__item.field-image
                                        img(src="../images/art04.jpg" width ="900px" height ="900px")
                                    div.field__item.field-title
                                        p article
        div.article-block-footer
            div.article-more-link.nav_more-link-button_01
                a.morelink(href="/")閱讀更多
