div.block.article-list-block.article-list-block_article-list-block_03
    div.article-list-block-wrapper
        div.article-block-header
            div.article-block-title
                h2 服務項目 <br> What we do

        div.article-block-content
            div.article-list.list-margin
                ul.article-list.row
                    li.article__item.article__item_1.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
                    li.article__item.article__item_2.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
                    li.article__item.article__item_3.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
                    li.article__item.article__item_4.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
                    li.article__item.article__item_5.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
                    li.article__item.article__item_6.col-lg-4.col-md-4.col-sm-6.col-xs-12
                        div.node.row-style_border-shadow_01
                            div.field-content.field-margin
                                div.field-wrapper.row.center-xs
                                    div.field__item.field-image
                                        img(src="../images/art03_01.png" width ="231px" height ="181px")
                                    div.field__item.field-title.col-xs-12
                                        a(href ="/")
                                            h3 互動媒體操作
                                    div.field__item.field-body.col-xs-12
                                        p 所秉持的工作態度。
                                        p 分享幸福與溫暖更是我們投身設計產業的初衷希望把對追求日常生活美感的熱情與堅持，藉由執行專案的過程，傳遞給美一位客戶與合作夥伴。
        div.article-block-footer
            div.article-more-link.nav_more-link-button_01
                a.morelink(href="/")閱讀更多
