div.block.article-list-block.article-list-block_article-list-block_01
    div.article-list-block-wrapper
        div.article-block-content
            div.article-list
                ul.article-wrapper.row
                    li.article__item.article-list-region.article-list-region1.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        ul.article-list
                            li.article__item.article__item1
                                div.node
                                    div.field-content
                                        div.field-wrapper
                                            div.field__item.field-title
                                                p Interactive
                                                p 互動裝置
                                            div.field__item.field-image
                                                img(src="../images/list01.jpg" width ="740px" height ="500px")
                    li.article__item.article-list-region.article-list-region2.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        ul.article-list
                            li.article__item.article__item1
                                div.node
                                    div.field-content
                                        div.field-wrapper
                                            div.field__item.field-title
                                                p Interactive
                                                p 互動裝置
                                            div.field__item.field-image
                                                img(src="../images/list02.jpg" width ="740px" height ="250px")
                            li.article__item.article__item2
                                div.node
                                    div.field-content
                                        div.field-wrapper
                                            div.field__item.field-title
                                                p Interactive
                                                p 互動裝置
                                            div.field__item.field-image
                                                img(src="../images/list03.jpg" width ="740px" height ="250px")
        div.article-block-footer
            div.article-more-link.nav_more-link-button_01
                a.morelink(href="/")閱讀更多
