div.menu_footer-menu
    div.block-wrapper
        ul.menu
            li.menu__item.item1
                a.menu__link(href="/") 文章專欄/活動訊息
            li.menu__item.item2
                a.menu__link(href="/") 關於23設計
            li.menu__item.item3
                a.menu__link(href="/") 作品展示
            li.menu__item.item4
                a.menu__link(href="/") 聯絡我們 
