div.menu_main-menu
    div.block-wrapper
        ul.menu
            li.menu__item.item1
                a.menu__link(href="/") 文章專欄/活動訊息
            li.menu__item.item2
                a.menu__link(href="/") 關於23設計
            li.menu__item.item3.logo-item
                a.menu__link(href="/") 
                    img#logo(src="../images/logo-23design.png")
            li.menu__item.item4
                a.menu__link(href="/") 作品展示
            li.menu__item.item5
                a.menu__link(href="/") 聯絡我們
            li.menu__item.item6
                a.menu__link(href="/") FaceBook    
