div.menu_webInfo-menu
    div.block-wrapper
        ul.menu
            li.menu__item.item1
                a.menu__link(href="/") 南京東路二段160號10樓
            li.menu__item.item2
                a.menu__link(href="/") Chiao3.su@gmail.com  
            li.menu__item.item3
                a.menu__link(href="/") 0225161282
            
