.menu_webInfo-menu {
    display: block;
    max-width: 720px;
    width: 100%;
    padding: 20px 0;

    .block-wrapper {
        @include child-margin(20px,10px);

        ul.menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li.menu__item {
                display: block;

                a.menu__link {
                    color: #FFFFFD;
                    font-size: 1.5em;
                    display: block;
                    white-space: nowrap;
                }

                &:not(:first-child) {
                    border-left: 1px solid #FFFFFD;
                }
            }
        }
    }
}

#logo {
    max-width: 215px;
}
