.nav_more-link-button_01{
  display: flex;
  justify-content: center;
  a{
    display: block;
    background: #7DCE42;
    padding: 15px 60px;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 15px;
  }
}
