div#footer.footer.regions
    div.footer-wrapper.region-wrapper
        div.col-1
            img(src ="../images/logo2.png")
        div.col-2
            include ../../components/menu/menu_footer-menu.jade
            include ../../components/menu/menu_webInfo-menu.jade
